*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.navbar{
  height: 5rem;
}

.nav-link{
  color: black;
}

.mainpage {
  background-color: black;
  color: white;
}

section {
  height: 100%;
}

.one {
  margin-bottom: 250px;
}

.two {
  height: 100vh;
  display: flex;
  align-items: right;
  justify-content: start;
}

.scrolldown {
  height: 50px;
  width: 30px;
  position: sticky;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 40px;
}

.scrolldown::before,
.scrolldown::after{
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid wheat;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scrolldown 1s ease-in-out infinite;
}

.scrolldown::after{
  top: 30%;
  animation-delay: .3s;
}

  @keyframes scrolldown {
    0%{
      opacity: 0;
    }
    30%{
      opacity: 1;
    }
    60%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      top: 90%;
    }
  }


/* profile section */

.greet {
  margin-top: 3rem;
  font-weight: 700;
  font-size: 9vh;
}

#mainposition {
  font-weight: 400;
  color: wheat;
}

.profile-pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.animation {
  animation: fadeIn 1.5s forwards;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.first {
  display: inline-block;
  animation: firstspan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
  background:transparent;
  z-index: 1;
  position: relative;
}

.slide {
  display: inline-flex;
  overflow: hidden;
}

.second {
  color: wheat;
  z-index: -1;
  display: inline-block;
  animation: secondspan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@keyframes fadeIn {
  0%{
    opacity: 0;
    transition-timing-function: scale(1);
  }
  50%{
    opacity: 1;
    transition-timing-function: scale(1);
  }
  100%{
    opacity: 1;
    transition-timing-function: scale(1);
  }
}

@keyframes firstspan {
  0%{
    transform: translateX(50%);
  }
  60%{
    transform: translateX(50%);
  }
  100%{
    transform: translateX(0%);
  }
}

@keyframes secondspan {
  0%{
    transform: translateX(-500%);
  }
  60%{
    transform: translateX(-500%);
  }
  100%{
    transform: translateX(0%);
  }
}

/* project section */

#sectiontwo {
  color: white;
}

.projects {
  margin-top: 3rem;
  font-weight: 700;
  font-size: 9vh;
}

.restapi {
  font-size: 1rem;
}

.proj {
  margin-bottom: 5rem;
}

.apititle {
  color: wheat;
}


/* contact section */
#sec-3 {
  margin-top: 800px;
}

.contacts {
  margin-top: 3rem;
  font-weight: 700;
  font-size: 9vh;
}

.contact {
  letter-spacing: 2px;
}

.contact a {
  color: wheat;
  font-size: 2rem;
  position: relative;
  text-decoration: none;
  padding: 0 10px;
}

.contact a:after {
  content: '';
  position: absolute;
  background-color: wheat;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.contact a:hover:after{
  width: 100%;
}